fastapi
uvicorn
pandas
numpy
scikit-learn
xgboost
joblib
mlflow
great_expectations==0.18.12
evidently==0.4.15
pydantic
pydantic-settings
python-dotenv
ruff
black
isort
mypy
pytest
pytest-cov
requests
prometheus-client
prefect==2.19.9
