fastapi
uvicorn
pandas
numpy
scikit-learn
xgboost
joblib
mlflow
great_expectations
evidently
pydantic
pydantic-settings
python-dotenv
ruff
black
isort
mypy
pytest
pytest-cov
requests
prometheus-client
